{% extends 'base.html' %}

{% block content %}

    <div style="text-align: center; max-width: 700px; margin: 4rem auto;">
        <img src="{{ target_project.image.url }}" alt=""
             style="height: 12rem; width: 12rem; border-radius: 20rem; margin-bottom: 2rem; object-fit: cover;">
        <h1>
            {{ target_project.title }}
        </h1>
        <p>{{ target_project.description }}</p>


        {% if user.is_authenticated %}
            <div class="text-center">
                {% if not subscription %}
                    <a href="{% url 'subscribeapp:subscribe' %}?project_pk={{ target_project.pk }}"
                       class="btn btn-dark rounded-pill px-4">
                        Subscribe
                    </a>
                {% else %}
                    <a href="{% url 'subscribeapp:subscribe' %}?project_pk={{ target_project.pk }}"
                       class="btn btn-dark rounded-pill px-4">
                        Unsubscribe
                    </a>
                {% endif %}
            </div>
        {% endif %}
        <hr>
    </div>


    <div>
        {% include 'snippets/list_fragment.html' with article_list=object_list %}
    </div>

{% endblock %}