
.bokdol_header_logo {
    font-family: 'Pacifico', cursive;
}

.header_navs {
    font-family: 'Nunito', sans-serif;
}

.footer_buttons {
    font-size: 0.6rem;
}

.bokdol_footer_logo {
    font-family: 'Pacifico', cursive;
}
